<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj trening</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edytuj trening</h1>
    <form action="/edit/<%= trainingId %>" method="POST">
        <label for="name">Nazwa:</label><br>
        <input type="text" id="name" name="name" value="<%= training.name %>" required><br>
        <label for="type">Rodzaj:</label><br>
        <select id="type" name="type" required>
            <option value="kardio" <%= training.type === 'kardio' ? 'selected' : '' %>>Kardio</option>
            <option value="siła" <%= training.type === 'siła' ? 'selected' : '' %>>Siła</option>
            <option value="elastyczność" <%= training.type === 'elastyczność' ? 'selected' : '' %>>Elastyczność</option>
            <option value="równowaga" <%= training.type === 'równowaga' ? 'selected' : '' %>>Równowaga</option>
        </select><br>
        <label for="intensity">Intensywność:</label><br>
        <select id="intensity" name="intensity" required>
            <option value="niska" <%= training.intensity === 'niska' ? 'selected' : '' %>>Niska</option>
            <option value="średnia" <%= training.intensity === 'średnia' ? 'selected' : '' %>>Średnia</option>
            <option value="wysoka" <%= training.intensity === 'wysoka' ? 'selected' : '' %>>Wysoka</option>
        </select><br><br>
        <button type="submit" class="dodaj">Zapisz zmiany</button>
    </form>
</body>
</html>
